<h1>New User</h1>

<body>
<% if logged_in? == false %>
  <%= render "form", article: @users %>

  <br> 
  Or sign-in with an existing username

  <%= render "signin", article: @users %> 

<% end %>


</body>

