<body>
<br><br><br>

Upcoming Events (Host): <br>
<% @user.events.upcoming.each do |event| %>
  <%= link_to event.title, event_path(event) %> <br>
<% end %>
<br>

Upcoming Events (Guest): <br>
<% @user.attended_events.upcoming.each do |event| %>
  <%= link_to event.title, event_path(event) %> <br>
<% end %>
<br>

Past Events (Guest): <br>
<% @user.attended_events.past.each do |event| %>
  <%= link_to event.title, event_path(event) %> <br>
<% end %>


</body>