<h1> <%= @event.title %> </h1>

<p>
  
  <%= link_to "RSVP", rsvp_event_path %>
    
  <br> Hosted by: <br>
  <%= @event.host.name %> <br>


  <br> Attending: <br>
  <% @event.attendees.each do |attendee| %>
    <%= attendee.name %><br>
  <% end %>
</p>